<app-find (findEmitter)="findUser($event)"></app-find>

<div id="users">
<div *ngFor="let user of myUserProfile">
    <h4>{{user.name}}</h4>
    <img src="{{user.avatar_url}}" width="200px" alt="">
    <div class="follow">
        <p>Followers:{{user.followers}}</p> &nbsp;
        <p>Following:{{user.following}}</p>
    </div>
    <p><i class="fab fa-twitter" style="color: navy;"></i>:@{{user.twitter_username}}</p>
    <p>Bio:{{user.bio}}</p>
    <p>Location:{{user.location}}</p>

</div>
<div class="card" style="width: 25rem;">
    <div class="card-header">
      Repositories
    </div>
    <ul class="list-group list-group-flush" *ngFor="let rep of myRepo">
      <li class="list-group-item">{{rep.name}} Language:{{rep.language}}</li>
    </ul>
</div>
</div>