#users{
    display: flex;
    margin-left: 20%;
}
.card{
    margin-left: 10%;
    text-align: center;
}
.follow{
    font-size: smaller;
    display: flex;
    margin-left: 5px;
}
img{
    border-radius: 50%;
}